{% extends "base/base.html" %}

{# ===== Header content ===== #}

{% block header_content %}
<div class="header-container">
    <h1><a href="/" class="no-underline">🚉</a> <span class="{{ page.line }}">{{ page.title }}</span></h1>
    <button id="dark-mode-toggle" class="dark-mode-toggle">Toggle Dark Mode</button>
</div>
<div class="donation-container">
    <a href="https://u24.gov.ua" class="donation-button" target="_blank">Donate to UNITED24</a>
</div>
<p>
{% endblock %}

{# ===== Map content ===== #}

{% block map_content %}
<div id="map"></div>
<script>
    // Initialize the map and set its view to Kyiv
    var map = L.map('map').setView(['{{ page.latitude }}', '{{ page.longtitude }}'], 12);

    // Add OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Define the metro stations with their coordinates and line colors
    var metroStations = [
        {name: '{{ page.station }}', coords: ['{{ page.latitude }}', '{{ page.longtitude }}'], line: '{{ page.line }}'}
    ];

    // Define the metro lines with their station coordinates
    var metroLines = {
        red: [
            [50.465756, 30.355644],
            [50.457983, 30.363911],
            [50.454322, 30.389796],
            [50.458026, 30.413849],
            [50.456621, 30.429983],
            [50.456263, 30.448043],
            [50.449788, 30.466953],
            [50.441187, 30.488142],
            [50.444001, 30.504034],
            [50.445111, 30.515722],
            [50.447656, 30.522102],
            [50.439644, 30.547768],
            [50.441125, 30.560414],
            [50.445937, 30.569674],
            [50.451239, 30.598331],
            [50.454552, 30.612194],
            [50.459134, 30.630429],
            [50.464064, 30.645844]
        ],
        blue: [
            [50.522055, 30.498522],
            [50.512086, 30.498206],
            [50.487942, 30.498906],
            [50.473139, 30.494324],
            [50.464456, 30.487814],
            [50.461571, 30.516268],
            [50.458033, 30.524161],
            [50.450486, 30.523677],
            [50.439513, 30.516292],
            [50.433177, 30.516485],
            [50.425299, 30.518309],
            [50.414895, 30.523327],
            [50.402056, 30.519065],
            [50.393835, 30.514499],
            [50.382838, 30.496839],
            [50.378710, 30.478083],
            [50.375527, 30.467382],
            [50.366633, 30.452165]
        ],
        green: [
            [50.478134, 30.434120],
            [50.472091, 30.449257],
            [50.465856, 30.482511],
            [50.448211, 30.513063],
            [50.438417, 30.518792],
            [50.435344, 30.531711],
            [50.425223, 30.544331],
            [50.417137, 30.544173],
            [50.401951, 30.560559],
            [50.395136, 30.599660],
            [50.394868, 30.620301],
            [50.396047, 30.632471],
            [50.401845, 30.654048],
            [50.403935, 30.667209],
            [50.403208, 30.690210],
            [50.401757, 30.703179]
        ]
    };

    // Add the metro stations to the map with visible captions
    metroStations.forEach(function(station) {
        var marker = L.circleMarker(station.coords, {
            radius: 8,
            color: station.line,
            fillColor: station.line,
            fillOpacity: 0.5
        }).addTo(map);

        marker.bindTooltip(station.name, {permanent: true, direction: 'top', offset: L.point(0, -10)});
    });

    // Add the metro lines to the map
    Object.keys(metroLines).forEach(function(line) {
        L.polyline(metroLines[line], {color: line, weight: 5}).addTo(map);
    });
</script>
{% endblock %}

{# ===== Page content ===== #}

{% block page_content %}
    {{ page.html|safe }}
{% endblock %}
